@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

html,
body {
  height: 100%;
}

body {
  @apply bg-zinc-950 text-zinc-50;
  cursor: url(/cursor/cheese-cursor.png) 16 16, auto;
}

a {
  @apply underline underline-offset-4;
}
